/* Home Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.todoList {
  width:50%;
  display:flex;
  flex-direction:column;
  margin: 0 auto;
}

.listItem {
  background:#CCCCCC;
  padding:15px;
  margin:10px;
  border-radius:5px;
  font-variant:small-caps;
}

.inputContainer {
  width:40%;
  margin:0 auto;
  display:flex;
  flex-direction:column;
}

.todoInput {
  padding:10px;
  font-size:1.1em;
  margin-top:30px;
}

.todoButton {
  padding:10px;
  margin-top:10px;
  background:#00CCFF;
  border:none;
  border-radius:5px;
  font-size:1.1em;
}

.todoButton:hover {
  background:#00DDFF;
}

.todoButton:active {
  background:#00AAFF;
}
